* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    background-color: aliceblue;
}

.navbar {
    background-color: rosybrown;
    --bs-navbar-padding-y: 0;
}

.nav-link {
    color: black;
    font-size: 18px;
}

.navbar-nav {
    --bs-nav-link-hover-color: brown;
}





#special-heading {
    color: rosybrown;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    padding: 50px;
}

.footer {
    background-color: rosybrown;
    padding: 30px 0px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

.footer .foot {
    width: 100%;
    margin: 10px 0;
    padding: 6px 0;
    color: black;
    font-size: 18px;
}

.footer .foot img {
    width: 40px;
    margin-left: 20px;
}

.footer .foot a {
 text-decoration: none;
 color: black;
 }

.footer .foot a:hover {
      color: brown;
}



.footer .foot ul li {
     display: inline-block;
     margin: 0px 30px;
}



.row {
   padding-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li, h3 {
    color: #fff;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

.form-control {
    line-height: 2;
}

.bg-custom {
    background-color: brown;
}
#con{
    background-color:rosybrown;
}

.btn-custom {
    background-color: brown;
    color: #fff;
}

.btn-custom:hover {
    background-color: rosybrown;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
}

   


.info li {
    padding-bottom: 10px;
    font-size: 18px;
}



.messagee {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.messagee .success {
    font-size: 40px;
    color: white;
    position: absolute;
    animation: buttons .3s linear;
    display: none;

}

.messagee .danger {
      font-size: 40px;
      color: black;
      position: absolute;
      transition: .3s;
      animation: buttons .3s linear;
      display: none;
 }


